

.container {
    margin: 30px;
}

.jumbotron {
color: black;
background-image: url("images/train.jpg");
background-color: #cccccc;
background-repeat: no-repeat;
height: 250px;
font-size: 50px;
font-family: cursive;
text-align: left;
padding: 150px;
border: 8px;
border-color: black;
}

#title {
    padding-top:120px;
    color: red;
}


.wrapper {
    overflow: hidden;
  }
  
  .sliding-background {
    background: url("images/polartrain.png") repeat-x;
    height: 140px;
    width: 5076px;
    animation: slide 15s linear infinite;
  }
  
  @keyframes slide{
  
   0%{
      transform: translate3d(-1692px, 0, 0);
    }
  }

  th {
      font-size: 24px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border-width: 5px;
  }

